<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cliente">
      <h2 data-cy="clienteDetailsHeading"><span>Cliente</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ cliente.id }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ cliente.lastName }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ cliente.firstName }}</span>
        </dd>
        <dt><span>Taxpayer ID</span></dt>
        <dd>
          <span>{{ cliente.taxpayerID }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ cliente.address }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ cliente.city }}</span>
        </dd>
        <dt><span>Provincia</span></dt>
        <dd>
          <div *ngIf="cliente.provincia">
            <a [routerLink]="['/provincia', cliente.provincia.id, 'view']">{{ cliente.provincia.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
      </button>

      <button type="button" [routerLink]="['/cliente', cliente.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
