<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-obra-heading" data-cy="ObraCreateUpdateHeading">Crear o editar Obra</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" hidden>
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <br />

        <div class="row mb-3">
          <label class="form-label" for="field_name">Nombre *</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> Este campo es obligatorio. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_address">Direccion</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_city">Ciudad</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_provincia">Provincia</label>
          <select
            class="form-control"
            id="field_provincia"
            data-cy="provincia"
            name="provincia"
            formControlName="provincia"
            [compareWith]="compareProvincia"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="provinciaOption" *ngFor="let provinciaOption of provinciasSharedCollection">
              {{ provinciaOption.name }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_comments">Comentarios</label>
          <input type="text" class="form-control" name="comments" id="field_comments" data-cy="comments" formControlName="comments" />
        </div>

        <div class="row mb-3">
          <label for="field_subcontratistas">Subcontratista</label>
          <select
            class="form-control"
            id="field_subcontratistas"
            data-cy="subcontratista"
            multiple
            name="subcontratistas"
            formControlName="subcontratistas"
            [compareWith]="compareSubcontratista"
          >
            <option [ngValue]="subcontratistaOption" *ngFor="let subcontratistaOption of subcontratistasSharedCollection">
              {{ subcontratistaOption.lastName }}, {{ subcontratistaOption.firstName }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_clientes">Cliente</label>
          <select
            class="form-control"
            id="field_clientes"
            data-cy="cliente"
            multiple
            name="clientes"
            formControlName="clientes"
            [compareWith]="compareCliente"
          >
            <option [ngValue]="clienteOption" *ngFor="let clienteOption of clientesSharedCollection">
              {{ clienteOption.lastName }}, {{ clienteOption.firstName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
