<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="transaccion">
      <h2 data-cy="transaccionDetailsHeading"><span>Transaccion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <!--<dt><span>ID</span></dt>
        <dd>
          <span>{{ transaccion.id }}</span>
        </dd>-->
        <dt><span>Tipo Comprobante</span></dt>
        <dd>
          <span>{{ transaccion.tipoComprobante?.name }}</span>
        </dd>
        <dt><span>Nro Transaccion</span></dt>
        <dd>
          <span>{{ transaccion.transactionNumber }}</span>
        </dd>
        <dt><span>Obra</span></dt>
        <dd>
          <span>{{ transaccion.obra?.name }}</span>
        </dd>
        <dt><span>Subcontratista</span></dt>
        <dd>
          <span>{{ transaccion.subcontratista?.lastName }}, {{ transaccion.subcontratista?.firstName }}</span>
        </dd>
        <dt><span>Fecha</span></dt>
        <dd>
          <span>{{ transaccion.date | formatMediumDate }}</span>
        </dd>
        <dt><span>Importe</span></dt>
        <dd>
          <span>{{ transaccion.amount }}</span>
        </dd>
        <dt><span>Metodo de Pago</span></dt>
        <dd>
          <span>{{ transaccion.paymentMethod }}</span>
        </dd>
        <dt><span>Descripcion</span></dt>
        <dd>
          <span>{{ transaccion.note }}</span>
        </dd>
        <dt><span>Concepto</span></dt>
        <dd>
          <div *ngIf="transaccion.concepto">
            <a [routerLink]="['/concepto', transaccion.concepto.id, 'view']">{{ transaccion.concepto.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
      </button>

      <button type="button" [routerLink]="['/transaccion', transaccion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
