<div>
  <h2 id="page-heading" data-cy="AcopioHeading">
    <span>Acopios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-acopio me-2"
        [routerLink]="['/acopio/new']"
        [state]="{ pId: this.pId, oId: this.oId }"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Crear nuevo Acopio </span>
      </button>
      <button
        id="jh-create-entity-back"
        class="btn btn-primary float-right jh-create-entity create-acopio"
        (click)="Cancel()"
        data-toggle="tooltip"
      >
        <fa-icon [icon]="'arrow-left'"></fa-icon>
        <span> Volver</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="acopios?.length === 0">
    <span>No se encontraron acopios</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="acopios && acopios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!--<th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>-->
          <th scope="col" jhiSortBy="obra.name">
            <div class="d-flex">
              <span>Obra</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="proveedor.name">
            <div class="d-flex">
              <span>Proveedor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span>Fecha</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalAmount">
            <div class="d-flex">
              <span>Monto Total</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let acopio of acopios; trackBy: trackId" data-cy="entityTable">
          <!--<td>
            <a [routerLink]="['/acopio', acopio.id, 'view']">{{ acopio.id }}</a>
          </td>-->
          <td>{{ acopio.obra?.name }}</td>
          <td>{{ acopio.proveedor?.name }}</td>
          <td>{{ acopio.date | formatShortDate }}</td>
          <td>{{ acopio.totalAmount }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/detalle-acopio']"
                [state]="{ aId: acopio.id }"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Detalle</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/acopio', acopio.id, 'edit']"
                [state]="{ pId: this.pId }"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button type="submit" (click)="delete(acopio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
