<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span class="navbar-title">Obras</span>
      <!--<span class="navbar-version">{{ version }}</span>-->
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span>Inicio</span>
            </span>
          </a>
        </li>
        <li
          *ngSwitchCase="true"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu1" data-cy="entity">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span>Menu</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu1">
            <li>
              <a
                class="dropdown-item"
                routerLink="obra"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="building" [fixedWidth]="true"></fa-icon>
                <span>Obra</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="subcontratista"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="building-user" [fixedWidth]="true"></fa-icon>
                <span>Subcontratista</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="cliente"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span>Clientes</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="proveedor"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
                <span>Proveedor</span>
              </a>
            </li>
            <!--<li>
              <a
                class="dropdown-item"
                routerLink="tarea"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span>Tarea</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="acopio"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="digging" [fixedWidth]="true"></fa-icon>
                <span>Acopio</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="transaccion"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="file-invoice" [fixedWidth]="true"></fa-icon>
                <span>Pagos a Subcontratistas</span>
              </a>
            </li>-->
            <li>
              <a
                class="dropdown-item"
                routerLink="movimiento"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="file-invoice" [fixedWidth]="true"></fa-icon>
                <span>Movimientos</span>
              </a>
            </li>
          </ul>
        </li>
        <!--Configuracion-->
        <li
          *ngSwitchCase="true"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-setup" data-cy="entity">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span>Configuracion</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-report">
            <li>
              <a
                class="dropdown-item"
                routerLink="provincia"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="city" [fixedWidth]="true"></fa-icon>
                <span>Provincia</span>
              </a>
            </li>

            <li>
              <a
                class="dropdown-item"
                routerLink="tipo-comprobante"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="file-lines" [fixedWidth]="true"></fa-icon>
                <span>Tipo Comprobante</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="concepto"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="file-lines" [fixedWidth]="true"></fa-icon>
                <span>Concepto</span>
              </a>
            </li>
          </ul>
        </li>
        <!--Reportes-->
        <!--<li
          *ngSwitchCase="true"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-report" data-cy="entity">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span>Reportes</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-report">
            <li>
              <a
                class="dropdown-item"
                routerLink="adv-pend-rep"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Estado Obras</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="sum-trx-rep"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Seguimiento Obras</span>
              </a>
            </li>
          </ul>
        </li>-->
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <li
          *ngSwitchCase="true"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            *jhiHasAnyAuthority="'ROLE_ADMIN'"
            class="nav-link dropdown-toggle"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="entity-menu"
            data-cy="entity"
          >
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span>Entidades</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="obra"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="building" [fixedWidth]="true"></fa-icon>
                <span>Obra</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="subcontratista"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="building-user" [fixedWidth]="true"></fa-icon>
                <span>Subcontratista</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="proveedor"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
                <span>Proveedor</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="cliente"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
                <span>Cliente</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="provincia"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="city" [fixedWidth]="true"></fa-icon>
                <span>Provincia</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="acopio"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="digging" [fixedWidth]="true"></fa-icon>
                <span>Acopio</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="detalle-acopio"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Detalle Acopio</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="tarea"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span>Tarea</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="tipo-comprobante"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Tipo Comprobante</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="concepto"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Concepto</span>
              </a>
            </li>
            <!--<li>
              <a
                class="dropdown-item"
                routerLink="transaccion"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="file-invoice" [fixedWidth]="true"></fa-icon>
                <span>Pagos a Subcontratistas</span>
              </a>
            </li>-->
            <li>
              <a
                class="dropdown-item"
                routerLink="movimiento"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="file-invoice" [fixedWidth]="true"></fa-icon>
                <span>Movimientos</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="cliente"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Cliente</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="detalle-lista-precio"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Detalle Lista Precio</span>
              </a>
            </li>
            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
          </ul>
        </li>
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span>Administración</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span>Gestión de usuarios</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span>Métricas</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span>Salud</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span>Configuración</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span>Logs</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span>API</span>
              </a>
            </li>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
            <li *ngIf="!inProduction">
              <a class="dropdown-item" href="./h2-console/" target="_tab" (click)="collapseNavbar()">
                <fa-icon icon="database" [fixedWidth]="true"></fa-icon>
                <span>Base de datos</span>
              </a>
            </li>
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span>Cuenta</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/settings"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="settings"
              >
                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                <span>Ajustes</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/password"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="passwordItem"
              >
                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                <span>Contraseña</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span>Cerrar la sesión</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                <span>Iniciar sesión</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a
                class="dropdown-item"
                routerLink="account/register"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="register"
              >
                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                <span>Crear una cuenta</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
