<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="listaPrecio">
      <h2 data-cy="listaPrecioDetailsHeading"><span>Lista Precio</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ listaPrecio.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ listaPrecio.name }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ listaPrecio.date | formatMediumDate }}</span>
        </dd>
        <dt><span>Proveedor</span></dt>
        <dd>
          <div *ngIf="listaPrecio.proveedor">
            <a [routerLink]="['/proveedor', listaPrecio.proveedor.id, 'view']">{{ listaPrecio.proveedor.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
      </button>

      <button type="button" [routerLink]="['/lista-precio', listaPrecio.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
      </button>
    </div>
  </div>
</div>
