<div>
  <h2 id="page-heading" data-cy="MovimientoHeading">
    <span>Movimientos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="showFilters()">
        <fa-icon icon="filter"></fa-icon>
        <span>Filtrar</span>
      </button>

      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-movimiento me-2"
        [routerLink]="['/movimiento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Crear nuevo Movimiento </span>
      </button>

      <button
        id="jh-create-entity-back"
        class="btn btn-danger float-right jh-create-entity create-cliente"
        (click)="Cancel()"
        data-toggle="tooltip"
      >
        <fa-icon [icon]="'arrow-left'"></fa-icon>
        <span> Volver</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive table-entities" id="entitiesFind" *ngIf="this.showFilter">
    <form name="findForm" role="form" novalidate [formGroup]="findForm">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col">
              <label class="form-label" for="field_date">Fecha</label>
              <div class="d-flex">
                <input
                  id="field_date"
                  data-cy="date"
                  type="date"
                  class="form-control"
                  name="date"
                  formControlName="date"
                  placeholder="YYYY-MM-DD HH:mm"
                  (ngModelChange)="onChangeDate()"
                />
              </div>
            </th>

            <th scope="col">
              <label class="form-label" for="field_description">Descripcion</label>
              <input
                type="text"
                class="form-control"
                name="description"
                id="field_description"
                data-cy="description"
                formControlName="description"
                (ngModelChange)="onChangeDescripcion()"
              />
            </th>
            <th scope="col">
              <label class="form-label" for="field_metodoPago">Metodo Pago</label>
              <select
                class="form-control"
                name="metodoPago"
                formControlName="metodoPago"
                id="field_metodoPago"
                data-cy="metodoPago"
                (ngModelChange)="onChangeMetodoPago()"
              >
                <option [ngValue]="null"></option>
                <option *ngFor="let metodoPago of metodoPagoValues" [ngValue]="metodoPago">{{ metodoPago }}</option>
              </select>
            </th>
            <th>
              <label class="form-label" for="field_tipoComprobante">Tipo Comprobante</label>
              <select
                class="form-control"
                id="field_tipoComprobante"
                data-cy="tipoComprobante"
                name="tipoComprobante"
                formControlName="tipoComprobante"
                (ngModelChange)="onChangeTipoComprobante()"
              >
                <option [ngValue]="null"></option>
                <option [ngValue]="tipoComprobanteOption" *ngFor="let tipoComprobanteOption of tipoComprobantes">
                  {{ tipoComprobanteOption.name }}
                </option>
              </select>
            </th>
            <th scope="col">
              <label class="form-label" for="field_amount">Importe</label>
              <input
                type="number"
                class="form-control"
                name="amount"
                id="field_amount"
                data-cy="amount"
                formControlName="amount"
                (ngModelChange)="onChangeAmount()"
              />
            </th>
            <th scope="col">
              <label class="form-label" for="field_subcontratista">Obra</label>
              <select
                class="form-control"
                id="field_obra"
                data-cy="obra"
                name="obra"
                formControlName="obra"
                (ngModelChange)="onChangeObra()"
              >
                <option [ngValue]="null"></option>
                <option [ngValue]="obraOption" *ngFor="let obraOption of obras">
                  {{ obraOption.name }}
                </option>
              </select>
            </th>
            <th scope="col">
              <label class="form-label" for="field_subcontratista">Subcontratista</label>
              <select
                class="form-control"
                id="field_subcontratista"
                data-cy="subcontratista"
                name="subcontratista"
                formControlName="subcontratista"
                (ngModelChange)="onChangeSubcontratista()"
              >
                <option [ngValue]="null"></option>
                <option [ngValue]="subcontratistaOption" *ngFor="let subcontratistaOption of subcontratistas">
                  {{ subcontratistaOption.lastName }}, {{ subcontratistaOption.firstName }}
                </option>
              </select>
            </th>
            <th scope="col">
              <label class="form-label" for="field_concepto">Concepto</label>
              <select
                class="form-control"
                id="field_concepto"
                data-cy="concepto"
                name="concepto"
                formControlName="concepto"
                (ngModelChange)="onChangeConcepto()"
              >
                <option [ngValue]="null"></option>
                <option [ngValue]="conceptoOption" *ngFor="let conceptoOption of conceptos">
                  {{ conceptoOption.name }}
                </option>
              </select>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
      </table>
    </form>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="movimientos?.length === 0">
    <span>Ningún Movimientos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="movimientos && movimientos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span>Fecha</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span>Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="metodoPago">
            <div class="d-flex">
              <span>Metodo Pago</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipoComprobante">
            <div class="d-flex">
              <span>Tipo Comprobante</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="amount">
            <div class="d-flex">
              <span>Importe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="obra">
            <div class="d-flex">
              <span>Obra</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="subcontratista">
            <div class="d-flex">
              <span>Subcontratista</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="concepto">
            <div class="d-flex">
              <span>Concepto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movimiento of movimientos; trackBy: trackId" data-cy="entityTable">
          <td style="text-align: right">{{ movimiento.date | formatShortDate }}</td>
          <td>{{ movimiento.description }}</td>
          <td>{{ movimiento.metodoPago }}</td>
          <td>{{ movimiento.tipoComprobante?.name }}</td>
          <td align="right">{{ movimiento.amount | number: '1.0-2' }}</td>
          <td>{{ movimiento.obra?.name }}</td>
          <td>{{ movimiento.subcontratista?.lastName }}, {{ movimiento.subcontratista?.firstName }}</td>
          <td>{{ movimiento.concepto?.name }}</td>
          <td class="text-end">
            <div class="btn-group">
              <!--<button
                type="submit"
                [routerLink]="['/movimiento', movimiento.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Vista</span>
              </button>-->

              <button
                type="submit"
                [routerLink]="['/movimiento', movimiento.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button type="submit" (click)="delete(movimiento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
