<div>
  <h2 id="page-heading" data-cy="MovimientoHeading">
    <span>Movimientos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-movimiento"
        [routerLink]="['/movimiento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Crear nuevo Movimiento </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="movimientos?.length === 0">
    <span>Ningún Movimientos encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="movimientos && movimientos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col">
            <div class="d-flex">
              <span>Fecha</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>Descripcion</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>Metodo Pago</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>Tipo Comprobante</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>Importe</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>Obra</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>Subcontratista</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span>Concepto</span>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movimiento of movimientos; trackBy: trackId" data-cy="entityTable">
          <td>{{ movimiento.date | formatShortDate }}</td>
          <td>{{ movimiento.description }}</td>
          <td>{{ movimiento.metodoPago }}</td>
          <td>{{ movimiento.tipoComprobante?.name }}</td>
          <td align="right">{{ movimiento.amount }}</td>
          <td>{{ movimiento.obra?.name }}</td>
          <td>{{ movimiento.subcontratista?.lastName }}, {{ movimiento.subcontratista?.firstName }}</td>
          <td>{{ movimiento.concepto?.name }}</td>
          <td class="text-end">
            <div class="btn-group">
              <!--<button
                type="submit"
                [routerLink]="['/movimiento', movimiento.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Vista</span>
              </button>-->

              <button
                type="submit"
                [routerLink]="['/movimiento', movimiento.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button type="submit" (click)="delete(movimiento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
