<div>
  <h2 id="page-heading" data-cy="SeguimientoRepHeading">
    <span>Reporte Seguimiento de Obra</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity-back"
        class="btn btn-danger float-right jh-create-entity create-adv-pend-rep"
        (click)="Cancel()"
        data-toggle="tooltip"
      >
        <fa-icon [icon]="'arrow-left'"></fa-icon>
        <span> Volver</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="findForm" role="form" novalidate [formGroup]="findForm">
    <div class="row mb-3">
      <label class="form-label" for="field_obra">Obra</label>
      <select class="form-control" id="field_obra" data-cy="obra" name="obra" formControlName="obra">
        <option [ngValue]="obraOption.name" *ngFor="let obraOption of obras; trackBy: trackIdObra">{{ obraOption.name }}</option>
      </select>
    </div>
    <div>
      <button id="export" data-cy="ExportButton" class="btn btn-primary" (click)="exportXLS()">
        <fa-icon icon="download"></fa-icon>&nbsp;<span>Exportar</span>
      </button>
    </div>
  </form>
</div>
