<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-acopio-heading" data-cy="AcopioCreateUpdateHeading">Crear o editar Acopio</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" hidden>
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <br />

        <div class="row mb-3">
          <label class="form-label" for="field_obra">Obra *</label>
          <select class="form-control" id="field_obra" data-cy="obra" name="obra" formControlName="obra" [compareWith]="compareObra">
            <option [ngValue]="obraOption" *ngFor="let obraOption of obrasSharedCollection" [selected]="obraOption.id == this.oId">
              {{ obraOption.name }}
            </option>
          </select>
          <div *ngIf="editForm.get('obra')!.invalid && (editForm.get('obra')!.dirty || editForm.get('obra')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('obra')?.errors?.required"> Este campo es obligatorio. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_proveedor">Proveedor *</label>
          <select
            class="form-control"
            id="field_proveedor"
            data-cy="proveedor"
            name="proveedor"
            formControlName="proveedor"
            [compareWith]="compareProveedor"
            (change)="onChange()"
          >
            <option
              [ngValue]="proveedorOption"
              *ngFor="let proveedorOption of proveedorsSharedCollection"
              [selected]="proveedorOption.id == this.pId"
            >
              {{ proveedorOption.name }}
            </option>
          </select>
          <div *ngIf="editForm.get('proveedor')!.invalid && (editForm.get('proveedor')!.dirty || editForm.get('proveedor')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('proveedor')?.errors?.required"> Este campo es obligatorio. </small>
          </div>
        </div>

        <div class="row mb-3" *ngIf="editForm.controls.proveedor.value !== null">
          <label class="form-label" for="field_listaprecio">Lista de precio *</label>
          <select
            class="form-control"
            id="field_listaprecio"
            data-cy="listaprecio"
            name="listaprecio"
            formControlName="listaprecio"
            [compareWith]="compareListaPrecio"
          >
            <option [ngValue]="ListaPrecioOption" *ngFor="let ListaPrecioOption of listaPreciosSharedCollection">
              {{ ListaPrecioOption.name }}
            </option>
          </select>
          <div *ngIf="editForm.get('listaprecio')!.invalid && (editForm.get('listaprecio')!.dirty || editForm.get('listaprecio')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('listaprecio')?.errors?.required"> Este campo es obligatorio. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_date">Fecha *</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="date"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required"> Este campo es obligatorio. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_totalAmount">Monto Total *</label>
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
          <div *ngIf="editForm.get('totalAmount')!.invalid && (editForm.get('totalAmount')!.dirty || editForm.get('totalAmount')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('totalAmount')?.errors?.required"> Este campo es obligatorio. </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
